html { height: 97%; }
body {
  min-height: 100%;
  position: relative;
  font-family: Ubuntu, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  /*background: url('/images/SHorangeheader.gif') top left no-repeat;*/
}

br { clear: both; }

#content { width: 700px; margin-left: 100px; padding-bottom: 50px; margin-top: -10px;}

h1 { margin-left: -1000px; width: 1200px; }
h1 a { display: block; width: 100%; }

.comment { clear: left; }
.comment dl { padding-top: 1em; padding-bottom: 1em; }
dt { width: 100px; margin: 0; float: left; clear: left; font-weight: bold; }
dd { margin: 0; float: left; }

.homepage-stories, .homepage-stories a {
  display:block;
  width: 700px;
  height: 350px;
  overflow: hidden;
}

.search-form {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 800px;
  text-align: right;
}

.footer { position: absolute; bottom: 20px; left: 100px; }
.search-form input, input[type=checkbox] { display: inline; }
label, input, textarea { display: block; }
input.long { width: 440px; }
input[type=radio] { display: inline; }
.manage-nav { width: 765px; clear: both; }
.manage-nav li { float: right; padding: 0.5em; }
form .error { width: 250px; float: right; margin-right: 100px; }

.item-search { padding-left: 1em; padding-top: 2em; position: absolute; z-index: 100; }
.item-search input { display: inline; }
.edit-story { width: 340px; position: absolute; top: 90px; }
.edit-story h3 { margin:0; margin-bottom: 3em; }
ul, li { padding: 0; margin: 0; list-style-type: none; }
.edit-story input { float: right; }
.edit-story {
  position: absolute;
  top: 90px;
  width: 326px;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  border: 2px solid silver;
}
.edit-story-items {
  position: absolute;
  top: 90px;
  left: 460px;
  width: 330px;
  border: 2px solid silver;
}
.edit-story h3, .edit-story-items h3 { margin: 0; margin-left: 0.5em; margin-top: 0.3em; margin-bottom: 3em; }
img.icon { float: right; margin: 8px; border: none;}
.items li:hover, .stories li:hover, a.add-item:hover, a.add-story:hover { background-color: #eee; }
.edit-story-layout, a.add-item, a.add-story, .items li, .stories li { display: block; line-height: 2em; }
.edit-story-layout, .pager, .items li, .stories li { text-indent: 1em; border-top: 1px solid #ccc; }
.edit-story .add-item { text-indent: 1em; }

div.text-item, div.image-item, div.document-item, div.video-item {
  width: 410px;
  margin-bottom: 1em;
  padding: 15px;
  border: 1px solid gray;
}
.year-field, .country-field, .place-field {
  width: 220px; float: left;
}
.country-field input { width: 220px}
.themes p { clear: both; }
.themes label { float: left; width: 230px; height: 1.5em; }

.pager { clear: both; }
.pager .next { float: right; }

textarea { width: 440px; height: 120px; }
.text-item textarea { width: 410px; min-height: 220px; }
.image-item input.long,
.video-item input.long {
  width: 410px;
}

.add-item .error { width: 440px; float: none; clear: left; color: red; }
.required { color: red; }

.item-preview { max-height: 250px; overflow: hidden; }
.item-preview .item-title { display:none; }
.item-preview img, .item-preview embed, .item-preview iframe { max-width: 300px; max-height: 200px; }
