html { height: 99; }
body { min-height: 100%; }
#content { width: 700px; margin-left: 100px; padding-bottom: 50px; }

h1 { margin-left: -1000px; width: 1200px; }
h1 a { display: block; width: 100%; }

.comment { clear: left; }
.comment dl { padding-top: 1em; padding-bottom: 1em; }
.comment dt { width: 100px; margin: 0; float: left; clear: left; }
.comment dd { margin: 0; float: left; }

.homepage-stories, .homepage-stories a {
  display:block;
  width: 700px;
  height: 350px;
  overflow: hidden;
}

.search-form {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 800px;
  text-align: right;
}

.footer { position: absolute; bottom: 10; left: 100px; }
