html { height: 99; }
body { min-height: 100%; }
#content { width: 700px; margin-left: 100px; padding-bottom: 50px; margin-top: -10px;}

h1 { margin-left: -1000px; width: 1200px; }
h1 a { display: block; width: 100%; }

.comment { clear: left; }
.comment dl { padding-top: 1em; padding-bottom: 1em; }
.comment dt { width: 100px; margin: 0; float: left; clear: left; }
.comment dd { margin: 0; float: left; }

.homepage-stories, .homepage-stories a {
  display:block;
  width: 700px;
  height: 350px;
  overflow: hidden;
}

.search-form {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 800px;
  text-align: right;
}

.footer { position: absolute; bottom: 10; left: 100px; }
.search-form input, input[type=checkbox] { display: inline; }
label, input, textarea { display: block; }
.manage-nav { width: 765px; clear: both; }
.manage-nav li { float: right; padding: 0.5em; }
form .error { width: 250px; float: right; margin-right: 100px; }

.item-search { padding-left: 1em; padding-top: 2em; z-index: 10000; position: absolute; }
.item-search input { display: inline; }
.edit-story { width: 340px; position: absolute; top: 90px; z-index: 0;}
.edit-story h3 { margin:0; margin-bottom: 3em; z-index: 0; }
.edit-story ul, .edit-story li { padding: 0; margin: 0; list-style-type: none; }
.edit-story input { float: right; }
.edit-story-items {
  position: absolute;
  top: 90px;
  left: 460px;
  width: 330px;
  border: 2px solid gray;
  padding-left: 10px;
}
.edit-story-items h3 { margin: 0; margin-top: 0.3em; margin-bottom: 3em; }
.edit-story-items ul, .edit-story-items li { padding: 0; margin: 0; margin-right: 0.25em; list-style-type: none; }
.edit-story-items .icon { float: right; }
