html, body, #content { width: 20000; }

.story { padding-left: 1em; height: 550px; width: auto; }
.story-title { width: 100%; text-align: left; }
.story-description { width: 100%; text-align: left; }
.story-owner { width: 100%; text-align: left; }

.story-item {
  text-align: center;
  float: left;
  min-width: 270px;
  max-width: 400px;
  .width: 270px;
}

.item-title { text-align: left; }
.item-metadata dt { float: left; clear: left; }
.pager.top { text-align: left; }
