html, body, #content { width: 20000; }
body.gallery-layout { background-attachment: fixed; }
.story { height: 550px; width: auto; }
.story-title { width: 100%; text-align: left; }
.story-description { width: 100%; text-align: left; }
.story-owner { width: 100%; text-align: left; }

.story-item {
  float: left;
  margin-right: 3em;
  min-width: 330px;
  max-width: 400px;
  .width: 270px;
}
h3.story-description { width: 700px; }
.item-title { text-align: left; }
.item-metadata dt { float: left; clear: left; }

h1, .gallery-layout .search-form, .story-owner, .story-title, .story-description, .footer { position: fixed; }
h1 { top: 0; }
.story-title { top: 80px; }
.story-owner { top: 115px; }
.story-description { top: 150px; }
.story-items { padding-top : 230px; }

.pager.top { position: fixed; top: 50px; left: 100px; }
.pager.bottom { display: none; }
