.story-owner { width: 800px; text-align: right; }
.story { margin-top: 100px; margin-left: 100px; width: 700px; }
dl, dt, dd { float: left; font-size: small; }
dd { padding-left: 0.5em; margin: 0; margin-right: 2em; }
.story-item { clear: left; padding-top: 2em; }

